@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>¿Quiénes somos?</h1>
    
</hgroup>

<article>
    
    <p>Somos talento 100% colombiano, nuestra empresa se enfoca en atender proyectos de tecnologías de información, nos especializamos en el desarrollo de aplicaciones y soluciones de negocio para medianas y grandes empresas en todos los sectores.</p>

    <h3>Nuestra propuesta</h3>
    <p>!Queremos poner a disposición de las empresas los mejores profesionales y las mejores personas!
    Buscamos el beneficio común para nuestros empleados, nuestros clientes y nuestra empresa.</p>

    <h3>Nuestra experiencia</h3>
    <p>El equipo fundador en conjunto tiene más de 20 años de experiencia en el mundo de desarrollo de software, todos ingenieros de sistemas con estudios de post-grado en:</p>

    <p>Especialización en construcción de software de la Universidad de los Andes
    Especialización en ingeniería de software de la Universidad Distrital
    Maestría en arquitecturas de TI de la Universidad de los Andes
    Maestría en administración empresarial del Tecnológico de Monterrey
    Certificación de SCRUM Master
    Certificación TOGAF</p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>