@{
    ViewBag.Title = "¿Qué hay que hacer?";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Queremos poner a disposición de las empresas los mejores profesionales y las mejores personas!
                Buscamos el beneficio común para nuestros empleados, nuestros clientes y nuestra empresa.
            </p>
        </div>
    </section>
}
<h3> NUESTROS SERVICIOS:</h3>
<ol class="round">
    <li class="one">
        <h3>Desarrollo de software</h3>
        <p>Nos sentimos orgullosos de contar con personal altamente capacitado, que cuenta con conocimiento técnico y orientados a entender las necesidades de los clientes. Nuestros expertos se apoyan en las mejores prácticas y estándares aceptados por la industria. Trabajamos mediante modalidad de fábrica de software, outsorcing de recursos y/u outsorcing de funcionalidades</p>
    </li>
    <li class="two">
        <h3>Consultoría</h3>
        <p>Contamos con un amplio portafolio de servicios de consultoría IT, ofreciendo soluciones integrales, que ayudan a optimizar sus procesos de negocio, logrando hacer de estos acciones ágiles, perdurable y rentables, reduciendo sus costos de operación e incrementando su productividad. Nos especializamos en: Arquitectura Empresarial y Planeación Estratégica (Usando el framework TOGAF) y en Optimización de Procesos (Usando las recomendaciones de la O.M.G. con BPMN)</p>
    </li>

    <li class="three">
        <h3>Análisis de datos</h3>
        <p>Ayudamos a nuestros clientes a analizar, e interpretar sus datos mediante la definición e implantación de modelos y sistemas de Business Intelligence y Enterprise Performance Management.</p>
    </li>

</ol>
